<ion-header *ngIf="value">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="skip('/settings')">
        <ion-icon class="back-button" slot="icon-only" name="ios-arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="p-0" text-center> Change Password </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="ios-arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ng-container *ngIf="!value">
    <div class="modal-header pl-15 pr-15">
      <a (click)="skip('/edit-profile-info/firstlogin')" class="skip text-default fs-15">
        Skip <span class="ml-8 flex ai-center">
          <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
        </span>
      </a>
    </div>
    <div class="modal-body text-default pl-15 pr-15">
      <h4 class="fs-16 fw-500 tC mt-30 mt-20">Customize Password</h4>
      <p class="fs-15 tC lh-22">Customize your password into something you can easily remember which you can use in your next login.</p>
    </div>
  </ng-container>

  <form [formGroup]="formGroup">
    <ng-container *ngIf="value">

      <div class="text-default pt-20 pl-15 pr-15">
        <div class="modal-body text-default">
          <p class="fs-15 tC lh-22 m-0" text-left>
            Please enter your current password.
          </p>
        </div>

        <div class="form-group block mb-20 mt-20 {{isValidClassCurrentPass}}" [ngClass]="{ 'invalid': (isSubmit && f.currentpassword.errors) || invalidCurrentPass }">
        <label class="text-secondary mb-10" for="change-currentpass">Current Password</label>
          <div class="input-wrapper">
            <input 
              id="change-currentpass"
              class="form-control" 
              type="{{inputCurrentPassType}}" 
              formControlName="currentpassword"
              [(ngModel)]="currentpassword"
              value="" 
              maxlength="30"
              (keyup)="setCurrentPass($event)"
            >
            <span class="icon eye" (click)="openCurrentPassword()">
              <fa-icon [icon]="['fas', currentpasswordOpenIcon]" slot="end"></fa-icon>
            </span>
          </div>
          <div *ngIf="isSubmit && f.currentpassword.errors">
            <p *ngIf="(f.currentpassword.errors && f.currentpassword.errors.minlength)" class="error mt-5 mb-5 fs-15 text-danger">Password must be at least 6 characters long</p>
            <p *ngIf="isSubmit && f.currentpassword.errors.required" class="mt-5 mb-5 fs-15 text-danger">This field is required</p>
          </div>

          <div *ngIf="invalidCurrentPass && currentpassword && isSubmitPass">
            <p class="error mt-5 mb-5 fs-15 text-danger"> Your password is incorrect </p>
          </div>
          
        </div>
      </div>
      <div class="modal-body text-default pl-15 pr-15">
        <p class="fs-15 tC lh-22 m-0" text-left>
          Please enter your new password.<br>
          This will be used on your next login.
        </p>
      </div>
    </ng-container>

    <div class="text-default pl-15 pr-15">
      <div class="form-group block mb-20 mt-20 {{isValidClassNew}}" 
        [ngClass]="{ 'invalid': (isSubmit && notMatchPass) }">
      <label class="text-secondary mb-10" for="change-newpassword">New Password</label>
        <div class="input-wrapper">
          <input 
            id="change-newpassword"
            class="form-control" 
            type="{{inputPassType}}" 
            formControlName="newpassword"
            [(ngModel)]="newpassword"
            value="" 
            maxlength="30"
            (keyup)="validatePasswords($event)"
          >
          <span class="icon eye" (click)="openPassword()">
            <fa-icon [icon]="['fas', passwordOpenIcon]" slot="end"></fa-icon>
          </span>
        </div>
        <div *ngIf="f.newpassword.errors">
          <p class="error mt-5 mb-5 fs-15 text-danger" *ngIf="(f.newpassword.errors && f.newpassword.errors.minlength)">Password must be at least 6 characters long</p>
          <p *ngIf="isSubmit && f.newpassword.errors.required" class="mt-5 mb-5 fs-15 text-danger">This field is required</p>
        </div>
      </div>

      <div class="form-group block mt-30 {{isValidClassConfirm}}" [ngClass]="{ 'invalid': (isSubmit && notMatchPass)}">
        <label class="text-secondary mb-10" for="change-confirmnewpassword">Confirm New Password</label>
        <div class="input-wrapper">
          <input 
            id="change-confirmnewpassword"
            class="form-control" 
            type="{{inputConfPassType}}" 
            formControlName="confirmnewpassword"
            [(ngModel)]="confirmnewpassword"
            value="" 
            maxlength="30"
            (keyup)="validatePasswords($event)"
          >
          <span class="icon eye" (click)="openConfPassword()">
            <fa-icon [icon]="['fas', confpasswordOpenIcon]" slot="end"></fa-icon>
          </span>
        </div>
        <div *ngIf="f.confirmnewpassword.errors">
          <p class="error mt-5 mb-5 fs-15 text-danger" *ngIf="(f.confirmnewpassword.errors && f.confirmnewpassword.errors.minlength)">Password must be at least 6 characters long</p>
          <p *ngIf="isSubmit && f.confirmnewpassword.errors.required" class="mt-5 mb-5 fs-15 text-danger">This field is required</p>
        </div>
      </div>
      <div *ngIf="f.newpassword.valid || f.confirmnewpassword.valid">
        <p *ngIf="!notMatchPass" class="mt-5 mb-5 fs-15 text-success">Password match</p>
        <p *ngIf="notMatchPass" class="error mt-5 mb-5 fs-15 text-danger">Password doesn't match</p>
      </div>
    </div>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar class="flex ai-center jc-center h-50" no-border>
    <button class="modal-btn-bottom fs-15 text-white h-100-per" (click)="changePass()">
      <span *ngIf="!value">
        Customize Password
      </span>
      <span *ngIf="value">
        Change Password
      </span>
    </button>
  </ion-toolbar>
</ion-footer>
