<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/settings">
        <ion-icon class="back-button" slot="icon-only" name="ios-arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="p-0" text-center> {{title}} </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="ios-arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bg-content" padding>
    <div class="border"></div>
    <div *ngIf="content">
      <div [innerHtml]="content"></div>
    </div>
    <div *ngIf="!content">
      <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      <br>
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
    </div>	
  </div>
</ion-content>