<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/login">
        <ion-icon class="back-button" slot="icon-only" name="ios-arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="p-20" text-center>
    <div>
      <img class="w-40-per h-40-per" src="/assets/icon/forgot-password-icon.png">
    </div>
    <div>
      <h4> Forgot Password </h4>
      <p>
        Enter your email address below and we'll send you a secure link to reset your password.
      </p>
    </div>
  </div>

  <div class="text-default pl-20 pr-20">
    <div class="form-group block mb-20 {{isValidClass}}">
      <label class="text-secondary mb-10" for="login-email">Email Address</label>
      <div id="login-email" class="input-wrapper">
        <input 
          class="form-control" 
          type="email" 
          value="" 
          maxlength="150"
          (focusout)="validateEmail()"
          (keyup)="setEmail($event)"
          (keydown.enter)="resetPassword()"
          [(ngModel)]="email"
        >
        <span class="icon">
          <fa-icon [icon]="['fas', 'check-circle']" slot="end"></fa-icon>
        </span>
        <span class="icon-error">
          <fa-icon [icon]="['fas', 'times-circle']" slot="end"></fa-icon>
        </span>
      </div>
      <p *ngIf="invalidEmail" class="error mt-10 mb-5 fs-15 text-danger">Invalid email address</p>
    </div>
  </div>
    
</ion-content>

<ion-footer>
  <ion-toolbar class="flex ai-center jc-center h-50" no-border>
    <button class="modal-btn-bottom fs-15 text-white h-100-per" (click)="resetPassword()">
      Send reset password link
    </button>
  </ion-toolbar>
</ion-footer>
