<ion-tabs (ionTabsWillChange)="tabChange($event)">
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="event/{{event_id}}">
      <ion-icon *ngIf="selectedTabs != 'event'" src="assets/icon/tab-home.svg"></ion-icon>
      <ion-icon *ngIf="selectedTabs == 'event'" src="assets/icon/tab-selected-home.svg"></ion-icon>
      <ion-label [ngClass]="selectedTabs == 'event' ? 'activated-label' : ''">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chat/{{event_id}}">
      <ion-icon *ngIf="selectedTabs != 'chat'" src="assets/icon/tab-chat.svg"></ion-icon>
      <ion-icon *ngIf="selectedTabs == 'chat'" src="assets/icon/tab-selected-chat.svg"></ion-icon>
      <ng-container *ngIf="env.unread_msg['event_'+event_id] as unMsgs">
        <ng-container *ngIf="unMsgs.unread_msg_convo as unreadMsgs">
          <ion-badge *ngIf="unreadMsgs > 0">
            {{unreadMsgs}}
          </ion-badge>
        </ng-container>
      </ng-container>
      <ion-label [ngClass]="selectedTabs == 'chat' ? 'activated-label' : ''">Message</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notification/{{event_id}}">
      <ion-icon *ngIf="selectedTabs != 'notification'" src="assets/icon/tab-notification.svg"></ion-icon>
      <ion-label [ngClass]="selectedTabs == 'notification' ? 'activated-label' : ''"> Notification </ion-label>
      <ng-container *ngIf="event && !event.archive_in">
        <ion-badge *ngIf="total_unread_notif > 0">{{total_unread_notif}}</ion-badge>
      </ng-container>
      <ion-icon *ngIf="selectedTabs == 'notification'" src="assets/icon/tab-selected-notification.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="event-settings/{{event_id}}">
      <ion-icon *ngIf="selectedTabs != 'event-settings'" src="assets/icon/tab-settings.svg"></ion-icon>
      <ion-icon *ngIf="selectedTabs == 'event-settings'" src="assets/icon/tab-selected-settings.svg"></ion-icon>
      <ion-label [ngClass]="selectedTabs == 'event-settings' ? 'activated-label' : ''"> More </ion-label>
      <ng-container *ngIf="event && event.meeting_request == '2' && !event.archive_in">
        <ion-badge *ngIf="total_unread_meeting > 0">{{total_unread_meeting}}</ion-badge>
      </ng-container>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>