.cancel-message {
    border: 1px solid #17489d;
    border-radius: 4px;
    margin-top: 30px;

    .textfield {
        min-height: 215px;
        outline: none;
    }
}
.cancel-btn {
    border-radius: 0;
    width: 100%;
}
ion-textarea{
    padding: 0px 10px 0px 2px;
}
